<!DOCTYPE html>
<html>
  <head>
    <link href="/css/application.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Dosis|Nunito|Courgette' rel='stylesheet' type='text/css'>
    <script src="https://www.google.com/jsapi"></script>
    <script src="https://code.jquery.com/jquery-2.0.3.min.js"></script>
    <script src="/javascripts/application.js"></script>
    <script src="/javascripts/support.js"></script>
    <script src="typed.js"></script>
    <title>Motivational Posters</title>
  </head>
  <body id="bod">
    <header>
        <h1 id="title">Motivational Posters</h1>
        <div id="bottom-slide"></div>
    </header>
      <div id="contain">
        <section id="select-image">
          <h2 id="search-img">Find image: </h2>
          <form id="search-form">
            <input id="search-term" type="text" placeholder="Your search here">
            <input id="go" type="submit" value="Search">
          </form>
          <div id="search-results"></div>
          <div id="google-branding"></div>
        </section>

        <section id="add-text">
          <h2 id='cap'>Add caption: </h2>
          <input id="caption-text" type="text" value="" placeholder="Your caption here">
        </section>
      <section id="style-caption">
        <div id="workspace">
          <p id="caption"></p>
        </div>
        <div id="caption-controls">
          Left: <input type="number" value="10" id="caption-left">
          Top: <input type="number" value="10" id="caption-top">
          Width: <input  type="number" value="400" id="caption-width">
          Size: <input type="number" value="32" id="caption-size">
          Color: <select id="caption-color">
                  <option>white</option>
                  <option>green</option>
                  <option>red</option>
                  <option>black</option>
                  <option>blue</option>
                  <option>purple</option>
                  <option>yellow</option>
                  <option>gray</option>
                  <option>orange</option>
                </select>
          Align: <select id="align">
                  <option>left</option>
                  <option>center</option>
                  <option>right</option>
                </select>
        </div>
        <div id="twitter">
          <a href="https://twitter.com/share" class="twitter-share-button" data-via="@makersacademy" data-size="large" data-text="Today I finished building a 'Motivational Posters' website with @makersacademy!">Tweet</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
        </div>
        </section>
      <footer>
        <div id="footer">
          <a href="http://www.makersacademy.com/">
            <img src="http://assets.makersacademy.com/images/logo/ma-wordmark-red.png">
          </a>
          <div>
            I built this with help from
            <a href="http://www.makersacademy.com">Maker's Academy</a>, a selective web development bootcamp in London.
          </div>
          <div>
            This page uses Google Image search, Ruby, Sinatra, Javascript, jQuery, HTML, and CSS.
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>
<!--














 -->
